<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<connectionStrings>
<add name="DBEntities" connectionString="metadata=res://*/DataFolder.DBModel.csdl|res://*/DataFolder.DBModel.ssdl|res://*/DataFolder.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-2JJMTVH\SQLEXPRESS;initial catalog=Rebrov;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>